
* {
    font-size: 48px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C5F2D;
    border-radius: 16px;
}

.output-display {
    overflow: hidden;
    border-color: #2C5F2D;
    width: 25vw;
    height: 67px;
    padding: 5px;
    background-color: #97BC62;
    border-radius: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.top-buttons {
    display: flex;
    justify-content: space-between;
    width: 328px;
}

.main-block {
    display: flex;
    flex-wrap: wrap;
}

.operator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

button {
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    background-color: #97BC62;
    border-color: #225222;
    min-width: 72px;
}