
* {
    font-size: 48px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output-display {
    outline: solid;
    width: 25vw;
    height: 67px;
    padding: 5px;
}

.top-buttons {
    outline: solid;
    display: flex;
    justify-content: center;
}

.main-block {
    display: flex;
    flex-wrap: wrap;
}

.operator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    outline: solid;
}

.row {
    display: flex;
}

button {
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;

}